/*Versão para desktop*/

@media screen and (min-width: 1024px) {
    main p {
        font-size: 14px;
    }

    .cartao-visita {
        width: 384px;
        transition: 0.25s;
    }

    .div-imagem {
        width: 100%;
    }

    .conteudo .caixa-texto {
        width: 82px;
        height: 29px;
    }

    .conteudo h1 {
        font-size: 24px;
    }

    .conteudo h1:hover {
        color: var(--Amarelo);
        cursor: pointer;
    }

    .conteudo .descricao {
        font-size: 16px;
    }
}